label{
    color: wheat;
    text-align: center;
    padding: 7px;
    background-color: #A3362F;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 20px;
}
input{
    font-size: 20px;
    padding: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #ccc;
}
select{
    font-size: 20px;
    padding-block: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #ccc;
}
select:focus {
    outline: none;
    border-color: black;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
a{
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(121, 3, 3);
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    margin-left: 30px;
    margin-top: 10px;
    box-shadow: 1px 1px 0px 1px beige;
}
html{
    background-color: beige;
}
main{
    margin-top: 150px;
}
.img-creation{
    width: 900px;
    margin-inline: -300px;
    z-index: 1;
}
h2{
    flex-grow: 1;
    position: fixed;
    left: 15vw;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}