header{
    display: flex;
    background-color: brown;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
a{
    text-decoration: none;
    color: aliceblue;
    background-color: black;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    margin-top: 10px;
}
main{
    display: flex;
    justify-content: center;
}
.div{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-inline: 50px;
    padding-block: 20px;
    border-radius: 32px;
    width: 400px;
    justify-content: center;
    align-items: center;
}
select,input{
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-bottom: 5px;
}
input[type="submit"]{
    border-radius: 16px;
}
.secondary-div{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}