header {
    display: flex;
    background-color: brown;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
a {
    text-decoration: none;
    color: aliceblue;
    background-color: black;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    margin-top: 10px;
}
main {
    display: flex;
    justify-content: center;
}
#div-forms {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 50px;
    padding-block: 20px;
    background-color: white;
    border-radius: 32px;
    flex-direction: column;
}
#form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

label {
    color: aliceblue;
    background-color: red;
    border-radius: 15px;
    padding: 5px;
    font-weight: 600;
}
input, select {
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 5px;
}
#submit {
    grid-column: span 2;
    padding: 10px;
    cursor: pointer;
}
.div-group{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}
.div-group input, select{
    border-radius: 0px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}
.div-group label{
    border-radius: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
#div-category select{
    width: 293px;
}