#div-forms{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-inline: 15px;
    border-radius: 50px;
    padding: 10px;
    padding-inline: 50px;
}
html{
    background-color: beige;
}
div{
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 15px;
}
input,select{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 1px;
}
button{
    margin: 5px;
    border-radius: 15px;
    padding: 5px;
    background-color: brown;
    color: wheat;
}
h1{
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 138px;
}
#div-half{
    display: flex;
    flex-direction: row;
}
#submit{
    padding: 5px;
    border-radius: 15px;
    padding-inline: 20px;
}
header{
    display: flex;
    background-color: #A3362F;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
h1{
    color: aliceblue;
    max-width: 200px;
}
div-right{
    margin-top: 200px;
}